abiword
alacritty
autostart
calcurse
cmus
code-oss
Code - OSS
dconf
discord
Electron
gtk-3.0
htop
matplotlib
mimeapps.list
mpd
neofetch
Nextcloud
picom
polybar
pulse
QtProject.conf
qutebrowser
rofi
starship.toml
syncthing
systemd
Thunar
vifm
vimb
xfce4
